body{
    box-sizing: border-box;
    margin:0 auto;
}
.title{
    height:3rem;
    background-color: #f1f1e3;
    display:flex;
}
.logo{
    height: 5rem;
    width: 15rem;
}
.courses{
    position:fixed;
    top:13px;
    left:90rem;
}
.wish{
    position:fixed;
    top:13px;
    left:100rem;
}

.icons{
    width: 30rem;
    height: 4rem;
    position:fixed;
    top:5px;
    left:90rem;
}
.cart-icon{
    height: 2rem;
    position: fixed;
    left: 110rem;
}
.user-icon{
    height: 2rem;
    position: fixed;
    left: 115rem;
}

.reactimg{
    width: 79.5%;
    height: 6rem;
    position: absolute;
    top: 3.5rem;
    left: 15rem;
}

.content{
    position:fixed;
    top:9rem;
    left:15rem;
}

.box{
    display:flex;
    height:6rem;
    width :60vw;
    margin-bottom:20px;
    border:0.5px solid black;
    background-color: #fcfcf6;
}
.box .pic{
    position: relative;
    top: 10px;
    left: 4rem;
    background: #f5f5da;
    height: 4.55rem;
    width: 6rem;
}

.box .name{
    position: relative;
    top: 10px;
    left: 7rem;
}

.box .emp{
    position: relative;
    top: 32px;
    left: 15rem;
}

.box .r1{
    position: relative;
    background-color: #ff8000;
    top: 3.5rem;
    left: -14rem;
    height: 1.7rem;
    width: 5rem;
    margin-right:1rem;
    color:white;
}

.box .r2{
    position: relative;
    background-color: #ff8000;
    top: 3.5rem;
    left: -14rem;
    height: 1.7rem;
    width: 5rem;
    color:white;
}

.box .star{
    position: relative;
    toP: 26px;
    left: 7rem;
    height: 2rem;
}

.box .max-price{
    position: relative;
    top: 15px;
    left: 10rem;
}
.box .add{
    position: relative;
    top: 14px;
    left: 14rem;
    height: 4rem;
    width:9rem;
    background-color: #ff8000;
    color:white;
}

.tag-icon{
    position: relative;
    top: 32px;
    left: 14.5rem;
}
.box .price{
    position: relative;
    top: 32px;
    left: 8rem;
    height: 2rem;
}
.cart{
    height: 57vh;
    width: 20rem;
    border: 1px solid;
    position: fixed;
    top: 12.5rem;
    left: 90rem;
}

.cart .head{
    height:4rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.cart .details{
    height:24rem;
}

.choose{
    position: absolute;
    top: 10rem;
    left: 75rem;
    height: 2rem;
    width: 12rem;
    
}
.search{
    position: absolute;
    top: 10rem;
    left: 90rem;
    height: 2.5rem;
    width: 16.1rem;
}
.search-icon{
    position: absolute;
    height: 2.5rem;
    width: 4rem;
    left: 88.5vw;
    top: 10rem;
}

.page{
    display: flex;
    position:fixed;
    top:57rem;
    left:20rem;
}

.page-icon{
    color:#ff8000;
    margin-right:1rem;
    
}
.num.one{
    background-color:#ff8000;
}
.num{
    margin-right:1rem;
}
